.App {
  position: relative;
  background-size: cover;
  background-attachment: fixed;
}


.App-header {
  position: relative;
  background-color: #AB2A19;
  min-height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: space-around;
  justify-content: space-between;
  color: white;
}

.navButton {
  position: relative;
  background-color: #ED6B5A;
  height: 3.5vh;
  display: flex;
  

}

.formBox {
  position: relative;
  height: 50vmin;
  width: 40vmin;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #3AD886;
}

